.container,
.card,
.card-image {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

 body {
  background-color: rgb(27, 27, 27);
}

.container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  height: 450px;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;/* top to bottom */
  justify-content: space-between;/* first item at start, last at end */
}

.card-image {
  height: 160px;
  width: 220px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 10px 20px;
  
    
}