.detail_container {
    position: relative;
    width: 100%;
    height: 935px;
    background-color: rgb(27, 27, 27);
}

.detail_container a {
    margin-top: 200px;
    margin-left: 50%;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 1px solid white;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 3rem;
    transition: 0.5s;
  
    text-align: center;
    text-decoration: none;
}

.detail_container a:hover {
    background-color: white;
    border-color: black;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.details {
    background-color: white;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    position: absolute;
    left: 0;
    margin-top: 14%;
    margin-left: 18%;
    height: 410px;
    width: 600px;
    border: 2px solid black;
    border-right: 0px;
}

.image {
    background-color: thistle;
    position: absolute;
    right: 0;
    margin-top: 14%;
    margin-right: 18%;
    height: 410px;
    width: 600px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: 2px solid black;
    border-left: 0px;
}

.image img {
    height: 410px;
    width: 600px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-left: 0px;
}



.title h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    margin-left: 25%;
}

.detail_temperaments {
    display: flex;
    height: 230px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.temp {
    background-color: springgreen;
    display: inline;
    height: 50px;
    width: 120px;
    background-color: black;
    border-radius: 1rem;
    color: white;
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-right: 7px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 15px;
    font-weight: 700;
}

.details2 {
    display: flex;
}

.details2 h2 {
    text-decoration: underline;
}

.info {
    flex-direction: row;
    width: 100%;
}