.container,
.card,
.card-image {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

 body {
  background-color: rgb(27, 27, 27);
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.card {
  background: rgb(238, 234, 234);
  width: 220px;
  height: 450px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

.card-image {
  height: 160px;
  width: 216px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
  display: contents;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 10px 20px;
  transition: 0.5s;
  border: 2px solid black;
}

.card a:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

.top_bar {
    display: flex;  
    background-color: white;
    padding: 5px;
    justify-content: space-evenly;
    position: relative;
    border-bottom: 1px solid black;
}

.top_bar select {
  display: inline-block;

}

.create_dog_div {
  width: 400px;
}

.filters_div select {
  background-color: white;
  width: auto;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.filters_div select option {
  text-align: left;
  color: black;
}


.search_bar {
  width: 400px;

}

.search_bar input {
  width: 300px;
  height: 42px;
  margin-top: 10px;
  border: 1px solid black;
  font-size: 15px;
  border-right: none;
  outline: none;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  box-sizing: border-box;
  padding: 10px;
}



.search_bar button {
  width: 90px;
  height: 42px;
  padding: 3px;
  border: 1px solid black;
  font-size: 15px;
  color: white;
  background-color: black;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  transition: 0.5s;
}

.search_bar button:hover {
  color: black;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
}

.create_dog_div a {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 12px 20px;
  border: 1px solid black;
  font-size: 15px;
  color: white;
  background-color: black;
  border-radius: 3rem;
  transition: 0.5s;
  display: block;
  text-align: center;
  text-decoration: none;
}

.create_dog_div a:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  transform: scale(1.03);
}

.footer_div {
  height: 50px;
  width: 100%;
}



