.pagination {
    display: inline-block;
    padding: 3px;
    margin: 0;
    border-style: solid;
    border-color: rgb(138, 216, 123);;
    border-width: 3px;
    border-radius: 3vh;
    font-weight: 400
}

.pagination li {
    display: inline;
    font-weight: 400
}

.pagination li:last-child {
    display: none;
}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    font-weight: 600;
}

li a:hover {
    background-color: rgb(138, 216, 123);
    border-radius: 3vh;
}

