.container {
    height: 50px;
}

ul {
    list-style-type: none;
    display: flex;

    justify-content: center;
    align-content: center;

    gap: 10px;
}

.li {
    height: 30px;
    width: 30px;
}

.btn {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    border: none;

    font-size: 2em;
    font-weight: 700;

    background: white;
    color: black;

    font-family: 'Dongle', sans-serif;
    
    cursor: pointer;

    border-radius: 1rem;

    transition: 0.5s;
}

.li:last-child {
    display: none;
}

.btn:hover {
    color: white;
    background-color: black;
}